header {
    color: blue;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid black;

}

h2 {
    color: green;
    margin: 10px;
    padding: 10px;
}

hr {
    width: 15rem;
    margin: 2rem auto;
}

main {
    display: flex;
    flex-direction: row;
}


.card {
    margin: 0 10px;
}

.card-main {
    width: 40rem;
    margin: 0 auto;

}

#btn-archive {
    margin: auto 2.5rem;
}


.five-day-forcast-cards .card {
    width: 12rem;
    margin: 0 auto;
    font-size: 12px;
}

.center-text {
    text-align: center;
}

.city-module {
    flex: 0 1 20%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}


.forecast {
    flex: 2 0 80%;
}

.current-forecast {}

.city-search {}

.city-archive {}

.current-forecast {}

.five-day-forecast {}

.card-main-img {
width: 100px;
height: 100px;
}